.resultPage {
  min-height: calc(100vh - 128px);

  &__content {

  }

  &__header {

  }

  &__main {

  }

  &__nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
}

.header {
  &__title {

  }
}

.result {
  &__desc {


    &__text {

    }
    &__count {

    }
  }


  &__item {

  }
}

.item {
  &__cover {

  }
}



.nav {
  &__settings {
    display: flex;

    &__selected {
      //color: #000000;
    }

    &__row {
      font-size: 24px;
      margin-right: 18px;
      //color: #E5E5E5;
      color: #40a9ff;
    }
    &__grid {
      font-size: 24px;
      //color: #E5E5E5;
    }
  }
}
