.modal {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    font-size: 18px;
  }
  &__select {
    width: 430px;
  }
}

.request {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 24px;
}
